@charset "UTF-8";

html{
    background-color: rgb(194, 120, 120);
    border: 10px solid red;
}

@font-face {
    font-family: importFont;
    src: url(Roboto-LightItalic.ttf);
}

#main-navbar{
    background-color: black;
    overflow: hidden;
  }

  #navbar-container{
    float: left;
    width: 100%;
    position: relative;
  }
  
  #navbar-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
  }

  #navbar-container ul li{
    float: left;
    position: relative;
    right: 50%;
    display: block;
  }

  #navbar-container ul li a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-family: importFont;
    font-weight: bold;
  }
  
  #navbar-container ul li a:hover{
    background-color: gray;
  }

 #index-body{
     text-align: center;
     border: 10px solid pink;
 }

 #index-body ul li{
     list-style-type: none;
 }

 #resume-body{
     width: 77.5%;
     text-align: center;
     padding-left: 150px;
     padding-right: 150px;
     border: 10px solid pink;
 }

 #resume-body ul li{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     border: 1px solid black;
 }
 
 #resume-body li{
     font-weight: bold;
 }

 #resume-h1{
     font-weight: bold;
     color: black;
     border-style: dashed;
 }

 #resume-body h2 , h3{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     border-style: dashed;
     border-width: 1px;
     border-radius: 50px;
     background-color: aqua;
 }

 #soccerprofile-body{
     text-align: center;
     padding-left: 150px;
     padding-right: 150px;
     border: 10px solid pink;
 }

 #soccerprofile-body h1, h2, h3{
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: crimson;
     border-style: solid;
     border-width: 2px;
     border-color: white;
     border-radius: 50px;
     background-color: white;
 }

 #soccerprofile-body ul li{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 #soccerprofile-body h4{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: yellow;
 }

 #me{
     width: 300px;
     border-radius: 100px;
 }

 #sandwich-body{
     text-align: center;
     padding-left: 150px;
     padding-right: 150px;
     border: 10px solid pink;
 }

 #mcd{
     position: relative;
     width: 200px;
     border-radius: 100px;
 }

 #pop{
    position: relative;
    width: 200px;
    border-radius: 100px;
 }

 #chi{
    position: relative;
    width: 200px;
    border-radius: 100px;
 }

 #kfc{
    position: relative;
    width: 200px;
    border-radius: 100px;
 }

#sandwich-body h1{
    color: black;
}

 #sandwich-body h2{
     color: blue;
 }

 #sandwich-body ul li{
     list-style-type: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }


